.container {
	text-align: center;
}
.row {
	display: flex;
	justify-content: center;
}
form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
input.form-control {
	width: 400px;
	text-align: center;
}
input.form-control:focus {
	outline: none;
}
.has-feedback .form-control {
	padding-right: 0px;
}
